{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Upgrade Subscription {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" href="{% static 'css/paper-kit.css' %}">
<style>
    body {
        background-color: #151f20 !important;
    }
</style>
{% endblock css %}
{% block content %}
    <div class="pricing-4 section section-dark">
        <div class="container">
            <center style="color: white;">
                Upgrade Subscription Page Is In Development, Coming Soon! thank you.
            </center>
        </div>
    </div>

{% endblock content %}